body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-radius: 50px;
    background-color: indianred;
    box-shadow: 0px 0px 5px #333;
}

.title{
    font-size: 50px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 20px;
    color: yellow;
}

.canvas{
    display: flex;
    flex: content;
    flex-wrap: wrap;
    width: 800.8px;
    height: 600.8px;
    background-color: white;
}

.circle-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;
}

.circle{
    background-color: white;
    border-radius: 999px;
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 5px #333;
}

.grid{
    display: flex;
    flex: auto;
    width: 50px;
    height: 37.5px;
    border: 1px solid #ccc;
}

.customize{
    padding-top: 100px;
    padding-left: 100px;
    align-self: baseline;
}